 .grid-container{
   display:grid;
   grid-template-columns: repeat(2,1fr);
   grid-template-rows: repeat(2,1fr); 
   padding: 20px;
 }

 article{
    width: 95%;
    height: 290px;
    border-radius: 10px;
    margin: 10px;
 }
 
 img{
  max-width: 100%;
 }

 